<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Welcome</title>
</head>
<body>
<h1>Witam</h1>
<form action="/addPost">
    <button class="btn btn-success" type="submit">Add a new post</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>Create date</th>
        <th>Post</th>
        <th>User</th>
    </tr>
    </thead>

    <tbody>
    <tr th:if="${allPosts!=null}" th:each="post : ${allPosts}">
        <span th:if="${post.deleteDate==null}">
            <td th:text="${post.createDate}"></td>
            <td th:text="${post.text}"></td>
            <td th:text="${post.user.login}"></td>
            <td>
                <a th:href="@{/addComment(postId = ${post.getId()})}">
                    <button class="btn btn-success" type="submit">Add a comment</button>
                </a>
            </td>
            <td>
                <a th:href="@{/showComments(postId = ${post.getId()})}">
                    <button class="btn btn-primary" type="submit">Show comments</button>
                </a>
            </td>
            <td th:if="${loggedInUser.id == post.user.id || loggedInUser.role=='ROLE_ADMIN' }">
                <form action="/deletePost" th:method="post" th:object="${post}">
                    <input type="hidden" name="id" th:value="${post.id}"/>
                    <button class="btn btn-success" value="remove">Remove post</button>
                </form>
            </td>
        </span>
    </tr>
    </tbody>
</table>

</body>
</html>