<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Comments</title>
</head>
<body>

<table border="2" class="bg-primary">
    <thead>
    <tr>
        <th>Create date</th>
        <th>Post</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
        <tr th:if="${parentPost!=null}" th:object="${parentPost}">
            <td th:text="${parentPost.createDate}"></td>
            <td th:text="${parentPost.text}"></td>
            <td th:text="${parentPost.user.login}"></td>
        </tr>
    </tbody>
</table>

<table border="1">
    <thead>
    <tr>
        <th>Create date</th>
        <th>Comment</th>
        <th>User</th>
    </tr>
    </thead>

    <tbody>
    <tr th:if="${allComments!=null}" th:each="comment : ${allComments}">
        <td th:text="${comment.createDate}"></td>
        <td th:text="${comment.text}"></td>
        <td th:text="${comment.user.login}"></td>
        <td th:if="">
            <form action="/deleteComment" th:method="post" th:object="${comment}">
                <input type="hidden" name="id" th:value="${comment.id}"/>
                <input type="hidden" name="parentPostId" th:value="${comment.post.id}"/>
                <button class="btn btn-success" value="remove">Remove comment</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>